<ul>
<%= if @current_credentials do %>
  <li><%= @current_credentials.email %></li>
  <li><%= link "Settings", to: Routes.credentials_settings_path(@conn, :edit) %></li>
  <li><%= link "Log out", to: Routes.credentials_session_path(@conn, :delete), method: :delete %></li>
<% else %>
  <li><%= link "Register", to: Routes.credentials_registration_path(@conn, :new) %></li>
  <li><%= link "Log in", to: Routes.credentials_session_path(@conn, :new) %></li>
<% end %>
</ul>
