<h1>Confirm account</h1>

<.form let={_f} for={:credentials} action={Routes.credentials_confirmation_path(@conn, :update, @token)}>
  <div>
    <%= submit "Confirm my account" %>
  </div>
</.form>

<p>
  <%= link "Register", to: Routes.credentials_registration_path(@conn, :new) %> |
  <%= link "Log in", to: Routes.credentials_session_path(@conn, :new) %>
</p>
