<table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Points</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <%= for member <- @members do %>
    <tr>
      <td><%= member.id %></td>
      <td><%= member.points %></td>
      <td><%= link to: Routes.member_path(@conn, :grant, member), class: "btn btn-light float-end" do %>
        <i class="bi bi-award"></i>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
